<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
<!-- Robert H. Smith School of Business Logo -->

<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Robert H. Smith School of Business Logo">

<h1>Noah Gantt</h1>

<!-- Paragraph blurbs about my university studies and professional experiences -->

<h2>About Me</h2>
<p>I’m a senior at the University of Maryland, College Park, studying <em>marketing</em> & <em>information systems</em> at the Robert H. Smith School of Business. During my time in college, I’ve been a very involved individual both academically and professionally. At the University of Maryland, I’m involved in a variety of organizations, including <strong>College Park Scholars - Business, Society, and Entrepreneurship</strong>, <strong>Schanwald Sports Management Program</strong>, and <strong>Strategic Design Fellows</strong>. Involvement in these programs has reinforced my passion for meaningfully contributing to organizations in marketing through data-backed decision-making. </p>
<p>Professionally, I’ve been fortunate to hold intern positions in a variety of roles, most recently with <em>Mercedes-Benz</em> at their United States headquarters in Atlanta, GA. This role allowed me to focus deeply on my planning and advertising skills, as I spent a large portion of my summer working closely with the agency team to approve a variety of designs and conduct research for future campaigns. The contribution I take the most pride in from my time at Mercedes-Benz was the creative direction for five television commercials for the <strong>2027 Masters campaign</strong>, which I was able to present to executives and forward to the agency for implementation come next year!</p>

<h2>Roles of Interest & Hobbies</h2>
<p>As I am currently recruiting for full-time work, below are some of the sectors I'd most enjoy working in for a company next year:</p>
<ul>
    <li>Brand & Marketing Strategy</li>
    <li>Analytics & Consumer Insights</li>
    <li>Creative & Digital Media</li>
</ul>

 <p>In my free time, I enjoy spending time outside and with loved ones! As I was new to the Atlanta environment this summer, I had the opportunity to explore new hiking spots. These are my favorites from my time there:</p>
<ol>
    <li>Stone Mountain Trail</li>
    <li>East Palisades Trailhead</li>
    <li>Beltline Eastside Trail</li>
</ol>

 <h2>Courses Taken at UMD</h2>
 <table>
     <tr>
         <th>Course</th>
         <th>Semester</th>
     </tr>
     <tr>
         <td>BMGT398A</td>
         <td>Fall 2024</td>
     </tr>
     <tr>
         <td>BMGT483</td>
         <td>Spring 2025</td>
     </tr>
     <tr>
         <td>BMGT458R</td>
         <td>Fall 2025</td>
     </tr>
 </table>

<!-- Links found at the bottom of my site for portfolio and personal projects -->

<h2>Home, Portfolio & Personal Project Pages</h2>
<p>A link to my <a href="/hello">Hello Page</a>.</p>
<p>A link to my <a href="https://noahdimitrigantt.myportfolio.com">Portfolio</a>.</p>
<p>A link to my <a href="https://www.instagram.com/cowboyscatalog/" target="_blank">Personal Instagram Project (opens in a new tab)</a></p>

</body>
</html>